<!doctype html>
<html amp lang="en">
{% include 'snippets/meta/amp-head.liquid' %}

<body>
  {% include 'snippets/sidebar/amp-sidebar.liquid' %}

  <div class="site-wrapper">
    {% include 'snippets/header/id-header.liquid' %}
    {% include 'snippets/header/page-header.liquid' %}

    <!-- Main Content -->
    <main class="main-content triangle-clip">
      {% include 'snippets/body/single-page.liquid' %}
    </main>

    {% include 'snippets/footer/footer.liquid' %}
  </div>

  {% include 'snippets/body/analytics.liquid' %}
</body>
</html>
