<!doctype html>
<html amp lang="en">
{% include 'snippets/meta/amp-head.liquid' %}
  <body>
{% include 'snippets/sidebar/amp-sidebar.liquid' %}
{% include 'snippets/header/id-header.liquid' %}
<!-- start main content -->
{% include 'snippets/header/page-header.liquid' %}
{% include 'snippets/body/single-page.liquid' %}

{% include 'snippets/footer/footer.liquid' %}

{% include 'snippets/body/analytics.liquid' %}
  </body>
</html>
