    <section class="content">
			<div class="secBody">
        {{ content }}
			</div>
			<div class="secFooter">
        <a href="{{page.footerLink}}">{{page.footerText}}</a>
			</div>
    </section>